.pop-up__input-subtitle-error {
    position: absolute;
    top: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FF0000;
}

/* .pop-up__input-error::after {
    content: 'error';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FF0000;
    border-color: #FF0000;
} */

.pop-up__input-error {
    border-color: #FF0000;
}