.pop-up__input-subtitle-error {
    position: absolute;
    top: 225px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FF0000;
}

@media screen and (max-width: 650px) {
    .pop-up__input-subtitle-error  {
        top: 230px;
    }
}