.page {
  max-width: 1280px;
  /* Из-за  того что интернет экспловер min-width  = 300 */
  min-width: 300px;
  background-color: #000;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}
