.pop-up__save-button {
  padding: 14px 125px;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  border: none;
}

.pop-up__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .pop-up__save-button {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}
