.profile__subtitle {
  margin-top: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 17px;
    max-width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .profile__subtitle {
    margin-top: 5px;
  }
}
