.pop-up__form-close-button-box {
  box-sizing: border-box;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 650px) {
  .pop-up__form-close-button-box {
    right: -7px;
  }
}
