.pop-up__input-title {
  position: relative;
  margin: 0;
  border: none;
  min-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 54px;
}

@media screen and (max-width:650px) {
  .pop-up__input-title {
    margin-top: 75px;
  }
}